body {

	background-color: #0d0d0d;
	margin: 0;
	padding: 0;

height: 100%;
}

#main {
	position: relative;		
	height: 100%;
}

#header {
	height: 90px;
	font-family: 'Noto Serif', serif;
	font-size: 4em;
	color: #fff;
	padding: 20px;
}

#banner {
	height: 500px;
	background-image: url('../images/bg.jpg');
	background-size: 100%;
	
	border-top: 5px solid #333;
	border-bottom: 5px solid #333;
}